.navbar {
  @apply shadow-md fixed w-full bg-white top-0 z-50;
}

.btn-navbar {
  @apply border border-black rounded-md py-1 px-3;
}

.navbar-container {
  @apply flex flex-wrap justify-between content-center items-center !py-5;
}

.navbar-menu-left {
  @apply flex items-center;
}

@screen md {
  .navbar-menu-left {
    @apply w-1/4;
  }
}

.navbar-text-brand {
  @apply ml-2 font-bold text-lg;
}

.navbar-menu-right {
  transition: opacity 400ms, height 400ms ease-in-out;
  @apply w-full opacity-0 h-0 block;
}

@screen md {
  .navbar-menu-right {
    @apply w-9/12 opacity-100 h-auto flex flex-row flex-wrap justify-end;
    @apply transition-none;
  }
}

.navbar-menu-right-section-1 {
  @apply flex w-1/2;
}

.navbar-menu-right-section-2 {
  @apply flex w-1/2;
}

.navbar-menu {
  transition: margin-top 400ms ease-in-out;
  @apply block flex-row flex-wrap items-center -mt-96;
}

@screen md {
  .navbar-menu {
    @apply flex mt-0;
  }
}

.li-menu {
  @apply py-1;
}

@screen md {
  .li-menu {
    @apply px-3 py-0;
  }
}

.li-menu-a {
  font-size: 16px;
  color: #b8becd;
  @apply font-semibold;
}

.li-menu-a:hover {
  color: #614234;
}

.li-menu-a-active {
  color: #614234 !important;
}

.button-show-hide-navbar {
  @apply block;
}

@screen md {
  .button-show-hide-navbar {
    @apply hidden;
  }
}
.navbar-menu-right.show-navbar {
  transition: opacity 400ms, height 400ms ease-in-out;
  border-color: #614234;
  @apply opacity-100 h-full border-t mt-4;
}

@screen md {
  .navbar-menu-right.show-navbar {
    @apply border-0 mt-0;
    @apply transition-none;
  }
}

.navbar-menu-right.show-navbar > .navbar-menu {
  transition: margin-top 400ms ease-in-out;
  @apply mt-0;
}

@media (min-width: 768px) {
  .navbar-menu-right.show-navbar {
    @apply flex;
  }
}

.btn-white {
  color: #614234;
  @apply px-6 bg-white py-2 shadow-lg rounded-full;
}

@screen md {
  .btn-white {
    @apply shadow-none;
  }
}

.btn-orange {
  background-color: #ffba33;
  color: #614234;
  @apply px-6 py-2 rounded-full shadow-lg;
}
